venv
__pycache__

databases/fuel_prices/bronze/
databases/fuel_prices/silver/

databases/brazil_map/brazil_cities_shape/
databases/brazil_map/brazil_regions_shape/
databases/brazil_map/brazil_states_shape/